/* Með CSS stjórnarðu ´tliti síðunnar, eins og litum, leturgerð, og staðsetningu
innihledsins. En sjálft innihald síðunnar er í HTML kóðanum.
Til þess að læra að gera eitthvað, prófaðu að leita á google af því sem þú vilt vita, til dæmis:
"how to change link color." */


@import url('https://fonts.cdnfonts.com/css/curlz');

html{
}


body {
  background-color: #47e3f8;
  color: #000000;
  font-family: 'Courier New', Courier, monospace;
  font-size: 32px;
}

h1 {
  color: #00138b;
  background-color: #adf8ff;
  font-style: bold;
  font-size: 300%;
}

h2 {
  color: #00FFFF;
  font-style: oblique;
  text-align: center;
  border: 3px solid rgb(0, 0, 0);
}

a {
  font-family: Arial, Helvetica, sans-serifS;
  color: #000000;
}

a:hover {
  color: #000000;
}

ul {
  background-color: #25559c;
}
